In [1]:
import pandas as pd 
import seaborn as sns

### Series object is one_dimensional labelled array

In [2]:
s1=pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
type(s1)

pandas.core.series.Series

## changing index

In [4]:
s1=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [5]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Series object from dictionary

In [6]:
pd.Series({'a':10, 'b':20, 'c':30})

a    10
b    20
c    30
dtype: int64

## changing index position

In [7]:
pd.Series({'a':10, 'b':20, 'c':30}, index=['b','c','d','a'])

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

In [9]:
pd.Series({'a':10, 'b':20, 'c':30}, index=['k1','k2','k3','k4'])

k1   NaN
k2   NaN
k3   NaN
k4   NaN
dtype: float64

## extracting individual elements

In [11]:
s1=pd.Series([1,2,3,4,5,6,7,8,9])
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [12]:
s1[3] ## extracting single elements

4

In [13]:
s1[:4] ## extracting a sequence of elements

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
s1[-3:] ## extracting elements from back

6    7
7    8
8    9
dtype: int64

In [15]:
l1=[1,2,3,4,5,6,7]
s1=pd.Series(l1)

## Basic math operation on Series

In [17]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [18]:
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
dtype: int64

In [19]:
s1-5

0   -4
1   -3
2   -2
3   -1
4    0
5    1
6    2
dtype: int64

In [20]:
s1*5

0     5
1    10
2    15
3    20
4    25
5    30
6    35
dtype: int64

In [21]:
s1/2

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
5    3.0
6    3.5
dtype: float64

In [22]:
s2=pd.Series([10,20,30,40,50,60,70,80,90])
s2

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [23]:
s1+s2

0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
5    66.0
6    77.0
7     NaN
8     NaN
dtype: float64

## DataFrame is 2 - dimensional labelled data structure

In [24]:
pd.DataFrame({"Name":['Bob','sam','Anne'],
              "Marks":[76,25,92]})

   Name  Marks
0   Bob     76
1   sam     25
2  Anne     92

## DataFrame in Built function

In [25]:
# Load the iris data 
iris=sns.load_dataset("iris")

In [26]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [27]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [28]:
iris.shape

(150, 5)

In [29]:
iris.describe

<bound method NDFrame.describe of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [30]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [36]:
# index base
iris.iloc[0:3,0:2]

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

In [38]:
## column name and index
iris.loc[0:3,("petal_length","sepal_length")]

   petal_length  sepal_length
0           1.4           5.1
1           1.4           4.9
2           1.3           4.7
3           1.5           4.6

## Droping columns

In [40]:
iris.drop('sepal_length',axis=1)

     sepal_width  petal_length  petal_width    species
0            3.5           1.4          0.2     setosa
1            3.0           1.4          0.2     setosa
2            3.2           1.3          0.2     setosa
3            3.1           1.5          0.2     setosa
4            3.6           1.4          0.2     setosa
..           ...           ...          ...        ...
145          3.0           5.2          2.3  virginica
146          2.5           5.0          1.9  virginica
147          3.0           5.2          2.0  virginica
148          3.4           5.4          2.3  virginica
149          3.0           5.1          1.8  virginica

[150 rows x 4 columns]

## Droping rows

In [41]:
iris.drop([1,2,3],axis=0)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

## More pandas function

In [42]:
iris.mean()

/data/user/0/ru.iiec.pydroid3/cache/ipykernel_5444/935066809.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [43]:
iris.min()

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [44]:
iris.median()

/data/user/0/ru.iiec.pydroid3/cache/ipykernel_5444/1297003277.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [45]:
iris.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [47]:
def half(s):
    return s*0.5

In [49]:
iris[['sepal_length','petal_length']].apply(half)

     sepal_length  petal_length
0            2.55          0.70
1            2.45          0.70
2            2.35          0.65
3            2.30          0.75
4            2.50          0.70
..            ...           ...
145          3.35          2.60
146          3.15          2.50
147          3.25          2.60
148          3.10          2.70
149          2.95          2.55

[150 rows x 2 columns]

In [51]:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [52]:
iris.sort_values(by='sepal_length')

     sepal_length  sepal_width  petal_length  petal_width    species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]